/*--------------------------------------------------------- Fonts & Variables ----------------------------------------------------------*/
@font-face {
  font-family: "swatch";
  src: url(../fonts/SWATRG.TTF);
}

@font-face {
  font-family: "cambria";
  src: url(../fonts/cambria.ttc);
}

/*---------------------------------------------------------------- Global ----------------------------------------------------------------*/
/* line 20, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 25, ../sass/style.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background: #777777;*/
  font-family: cambria, sans-serif;
  background-image: url(../img/background-blue.jpg);
}

/* line 33, ../sass/style.scss */
a {
  font-family: swatch;
  color: #ccc;
}

/* line 39, ../sass/style.scss */
.clearfix {
  clear: both;
}

/*---------------------------------------------------------------- Navigation ----------------------------------------------------------------*/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 49, ../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 59, ../sass/style.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 64, ../sass/style.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}

/* line 70, ../sass/style.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* line 74, ../sass/style.scss */
.navbar-static-top {
  width: 100%;
  background-image: url(../img/honeycomb.png);
  background-size: cover;
}

/* line 82, ../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* line 93, ../sass/style.scss */
.navbar-header a {
  padding: 0;
  margin: 0;
}

/* line 98, ../sass/style.scss */
#brand {
  margin-top: 2px;
  margin-left: 10px;
}

/* line 104, ../sass/style.scss */
.nav li {
  margin-right: 1px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* line 111, ../sass/style.scss */
.navbar-inverse .navbar-nav > .active > a {
  opacity: 1 !important;
  font-weight: normal !important;
}

/* line 116, ../sass/style.scss */
.nav li:not(.nohover):hover {
  background-color: #024788;
  color: #ccc !important;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: normal;
}

/* line 125, ../sass/style.scss */
.navbar-nav li a {
  color: #fff !important;
  text-transform: capitalize !important;
  font-family: swatch, sans-serif;
  font-size: 1.5em;
}

/* line 132, ../sass/style.scss */
.li-logo {
  width: 30px;
  height: auto;
  background-color: inherit;
}

/* line 138, ../sass/style.scss */
.dropdown-menu .dropdown-a, .dropdown-menu .divider-title {
  color: #262626;
  font-size: 1.2em;
  text-align: center;
  border: none;
}

/* line 146, ../sass/style.scss */
.dropdown {
  border-radius: 10px;
}

/* line 151, ../sass/style.scss */
li.dropdown.open:hover {
  border: none;
  opacity: 1;
  border-radius: 15px;
}

/* line 157, ../sass/style.scss */
.dropdown-menu {
  background-color: #000;
}

/* line 161, ../sass/style.scss */
.dropdown-menu .dropdown-li {
  border: none;
  box-sizing: border-box;
}

/* line 166, ../sass/style.scss */
.dropdown-menu .dropdown-a {
  color: #fff;
}

/* line 170, ../sass/style.scss */
.dropdown-menu li.divider {
  color: #fff !important;
}

/* line 174, ../sass/style.scss */
.dropdown-menu .dropdown-a:hover {
  border-radius: 10px;
}

/* line 178, ../sass/style.scss */
.dropdown-menu li.divider-title {
  color: #fff;
}

/*===========================================MMS BANNER ================================*/
/* line 187, ../sass/style.scss */
#manna {
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0;
}

/* line 195, ../sass/style.scss */
#manna-container {
  width: 100%;
}

/* line 199, ../sass/style.scss */
#manna-container img {
  width: 100%;
}

/* line 203, ../sass/style.scss */
.carousel-caption a {
  font-family: swatch;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ CONTENT ++++++++++++++++++++++++++++++++++++*/
/*--------------------------------------------------------------------------- Contact ---------------------------------------------------------------*/
/* line 212, ../sass/style.scss */
.content-container {
  background-color: #fff;
  box-shadow: inset 0 0 20px #000;
  border-radius: 10px;
  color: #191919;
  text-align: center;
}

/* line 222, ../sass/style.scss */
#contact-content {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

/* line 229, ../sass/style.scss */
#mms-contact {
  margin-top: 0;
  padding: 0 20px 20px 20px;
}

/* line 235, ../sass/style.scss */
#contactform {
  padding: 20px;
}

/* line 239, ../sass/style.scss */
#contactform label {
  margin-top: 20px;
  font-size: 1.5em;
}

/* line 244, ../sass/style.scss */
#contactform input {
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

/* line 251, ../sass/style.scss */
#contactform textarea {
  font-size: 1.5em;
  border-radius: 10px;
  width: 90%;
}

/* line 257, ../sass/style.scss */
#submit {
  font-size: 1.5em;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-family: swatch;
}

/* line 265, ../sass/style.scss */
#submit:hover {
  box-shadow: 0 0 10px #013768;
}

/* line 269, ../sass/style.scss */
#submit:active {
  box-shadow: inset 0 0 10px #013768;
}

/*---------------------------------------------------------------------------- Pricing ---------------------------------------------------------------*/
/* line 274, ../sass/style.scss */
#pricing-left {
  margin-bottom: 20px;
}

/* line 277, ../sass/style.scss */
#pricing-content p {
  font-size: 1.5em;
  padding-top: 0;
  padding-bottom: 10px;
  cursor: default;
}

/* line 284, ../sass/style.scss */
#service-content {
  margin-top: 20px;
  padding: 5px;
}

/* line 289, ../sass/style.scss */
#pricing-content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  cursor: default;
  font-size: 2em;
  font-weight: bold;
}

/* line 298, ../sass/style.scss */
div#mms-pricing {
  margin-top: 0;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
}

/* line 304, ../sass/style.scss */
#pricing-content a {
  font-size: 1.8em;
  color: #191919;
  text-decoration: none;
}

/* line 310, ../sass/style.scss */
#pricing-content span {
  font-size: 1.5em;
}

/* line 314, ../sass/style.scss */
#pricing-content a:hover {
  color: #053F75;
}

/* line 318, ../sass/style.scss */
td {
  font-size: 1.5em;
}

/* line 322, ../sass/style.scss */
th {
  text-align: center;
  font-size: 1.5em;
}

/* line 327, ../sass/style.scss */
caption {
  font-size: 2em;
  font-weight: bold;
}

/* line 332, ../sass/style.scss */
#pricing-content {
  margin-bottom: 10px;
}

/* line 337, ../sass/style.scss */
.pricing-disclaimer {
  color: #ccc;
  text-align: center;
}

/*--------------------------------------------------------------------------- Portfolio -------------------------------------------------------------*/
/* line 345, ../sass/style.scss */
#heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3em;
  font-family: "swatch";
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

/* line 355, ../sass/style.scss */
#portfolio-nav {
  width: 100%;
}

/* line 359, ../sass/style.scss */
#portfolio-nav-ul {
  font-size: 1.3em;
  margin-bottom: 20px;
}

/* line 364, ../sass/style.scss */
.portfolio-nav-li {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

/* line 372, ../sass/style.scss */
.portfolio-nav-a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-family: "swatch";
  font-size: 1.3em;
  text-shadow: 2px 2px 2px #000;
}

/* line 381, ../sass/style.scss */
.portfolio-nav-li.current a, .portfolio-nav-a:hover {
  color: #ccc !important;
  border: 1px solid #fff;
  background: #024788 url(../img/honeycomb.png);
  border-radius: 5px;
  box-sizing: border-box;
}

/* line 389, ../sass/style.scss */
#gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 395, ../sass/style.scss */
.gallery-li {
  display: block;
  float: left;
  width: 23%;
  /*-- size of thumbs --*/
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 12px 7px 0;
  position: relative;
}

/* line 405, ../sass/style.scss */
#gallery img {
  width: 100%;
  border-radius: 5px;
}

/*overlay style */
/* line 413, ../sass/style.scss */
.overlay {
  display: none;
  background: #024788 url(../img/honeycomb.png) no-repeat top left;
  background-size: cover;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;
}

/* line 432, ../sass/style.scss */
.overlay h3 {
  margin: 0;
  padding: 0;
}

/* line 437, ../sass/style.scss */
.fancybox-nav {
  width: 60px;
}

/* line 441, ../sass/style.scss */
.fancybox-nav span {
  visibility: visible;
}

/* line 445, ../sass/style.scss */
.fancybox-next {
  right: 50px;
}

/* line 449, ../sass/style.scss */
.fancybox-prev {
  left: 50px;
}

/*----------------------------------------------------------------------------- About ---------------------------------------------------------------*/
/* line 456, ../sass/style.scss */
#photo-container {
  width: 100%;
  text-align: center;
}

/* line 461, ../sass/style.scss */
#photo {
  border-radius: 10px;
  margin: 20px auto 30px auto;
  width: 80%;
}

/* line 468, ../sass/style.scss */
#about {
  width: 90%;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 25px 10px 25px;
}

/* line 477, ../sass/style.scss */
#signature {
  font-family: "Brush Script Std";
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*---------------------------------------------------------------- FOOTER ----------------------------------------------------------------*/
/* line 488, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* line 503, ../sass/style.scss */
.copyright {
  color: #FFEBCD;
}

/* line 507, ../sass/style.scss */
.footer .container {
  min-height: 50px;
  border: 1px solid #222222;
  background-color: #222222;
  padding: 0 20px;
  border-radius: 4px;
  padding-top: 13px;
  background-image: url(../img/honeycomb.png);
}

/* line 517, ../sass/style.scss */
#designer {
  text-align: center;
}

/* line 522, ../sass/style.scss */
#back-to-top {
  text-align: right;
}

/* line 527, ../sass/style.scss */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*.flex-item:nth-child(19) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 200px;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*-----------------------------------------------------------Media Querys-------------------------------------------------------------------*/
@media (max-width: 1225px) {
  /* line 579, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: 1em;
  }
}
@media (max-width: 1060px) {
  /* line 585, ../sass/style.scss */
  #portfolio-nav-ul {
    text-align: center;
  }

  /* line 588, ../sass/style.scss */
  .portfolio-nav-li {
    display: inline-block;
    padding: 0;
    margin: 5px;
  }

  /* line 595, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: 1em;
    margin: 0;
  }

  /* line 601, ../sass/style.scss */
  div.portfolio-thumbs {
    width: 100%;
  }

  /* line 605, ../sass/style.scss */
  .flex-container {
    width: 100%;
    justify-content: center;
  }

  /* line 609, ../sass/style.scss */
  #gallery {
    margin: 0 auto;
  }

  /* line 612, ../sass/style.scss */
  .portfolio-nav {
    width: 100%;
    margin: 0 auto;
  }

  /* line 617, ../sass/style.scss */
  #portfolio-nav-ul {
    text-align: center;
    padding: 0;
  }

  /* line 626, ../sass/style.scss */
  .portfolio-nav-a:hover {
    color: #ccc !important;
    border: 1px solid #fff;
    padding: 5px;
    background: #024788 url(../img/honeycomb.png);
    border-radius: 5px;
    box-sizing: border-box;
  }
}
@media (max-width: 1000px) {
  /* line 640, ../sass/style.scss */
  #copyright {
    text-align: center;
  }

  /* line 643, ../sass/style.scss */
  #designer {
    text-align: center;
  }

  /* line 646, ../sass/style.scss */
  #back-to-top {
    text-align: center;
  }
}
@media (max-width: 800px) {
  /*-------------------- Portfolio ------------------------------*/
  /* line 658, ../sass/style.scss */
  .gallery-li {
    width: 25%;
    /*-- size of thumbs --*/
  }

  /* line 662, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: .8em;
    padding: 5px;
    margin: 0;
  }

  /* line 668, ../sass/style.scss */
  .overlay h3 {
    font-size: .8em;
  }

  /* line 672, ../sass/style.scss */
  .overlay p {
    display: none;
  }

  /* line 676, ../sass/style.scss */
  #heading {
    display: none;
  }

  /* line 681, ../sass/style.scss */
  #service-content td {
    font-size: 1em;
  }

  /*--------------------------------------------------------------*/
  /*----------------- Home -----------------------------------*/
  /* line 688, ../sass/style.scss */
  .carousel .item {
    height: auto;
  }

  /* line 692, ../sass/style.scss */
  #photo1 {
    content: url(../img/Camera-mobile.jpg);
  }

  /* line 696, ../sass/style.scss */
  #photo2 {
    content: url(../img/Lightbulb-mobile.jpg);
  }

  /* line 700, ../sass/style.scss */
  #photo3 {
    content: url(../img/Network-mobile.jpg);
  }
}
@media (max-width: 450px) {
  /* line 707, ../sass/style.scss */
  #service-content td {
    font-size: .8em;
  }

  /* line 711, ../sass/style.scss */
  #service-content th {
    font-size: 1em;
  }
}
