/*--------------------------------------------------------- Fonts & Variables ----------------------------------------------------------*/
@font-face {
  font-family: "swatch";
  src: url(../fonts/SWATRG.TTF);
}

@font-face {
  font-family: "cambria";
  src: url(../fonts/cambria.ttc);
}

/*---------------------------------------------------------------- Global ----------------------------------------------------------------*/
/* line 20, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 25, ../sass/style.scss */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background: #777777;*/
  font-family: cambria, sans-serif;
  background-image: url(../img/background-blue.jpg);
}

/* line 33, ../sass/style.scss */
a {
  font-family: swatch;
  color: #ccc;
}

/* line 39, ../sass/style.scss */
.clearfix {
  clear: both;
}

/*---------------------------------------------------------------- Navigation ----------------------------------------------------------------*/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 49, ../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 59, ../sass/style.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 64, ../sass/style.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}

/* line 70, ../sass/style.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* line 74, ../sass/style.scss */
.navbar-static-top {
  width: 100%;
  background-image: url(../img/honeycomb.png);
  background-size: cover;
}

/* line 82, ../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* line 93, ../sass/style.scss */
.navbar-header a {
  padding: 0;
  margin: 0;
}

/* line 98, ../sass/style.scss */
#brand {
  margin-top: 2px;
  margin-left: 10px;
}

/* line 104, ../sass/style.scss */
.nav li {
  margin-right: 1px;
  border: 1px solid #000;
  border-radius: 5px;
}

/* line 111, ../sass/style.scss */
.nav li:hover {
  background-color: #024788;
  color: #ccc !important;
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: .8;
  font-weight: bold;
}

/* line 123, ../sass/style.scss */
ul nav.navbar-nav li a {
  color: #ccc;
  text-transform: capitalize !important;
  font-family: swatch, sans-serif;
  font-size: 1.2em;
}

/*===========================================MMS BANNER ================================*/
/* line 134, ../sass/style.scss */
#manna {
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0;
}

/* line 142, ../sass/style.scss */
#manna-container {
  width: 100%;
}

/* line 146, ../sass/style.scss */
#manna-container img {
  width: 100%;
}

/* line 150, ../sass/style.scss */
.carousel-caption a {
  font-family: swatch;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ CONTENT ++++++++++++++++++++++++++++++++++++*/
/*--------------------------------------------------------------------------- Contact ---------------------------------------------------------------*/
/* line 159, ../sass/style.scss */
.content-container {
  background-color: #fff;
  box-shadow: inset 0 0 20px #000;
  border-radius: 10px;
  color: #191919;
  text-align: center;
}

/* line 169, ../sass/style.scss */
#contact-content {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

/* line 176, ../sass/style.scss */
#mms-contact {
  margin-top: 0;
  padding: 0 20px 20px 20px;
}

/* line 182, ../sass/style.scss */
#contactform {
  padding: 20px;
}

/* line 186, ../sass/style.scss */
#contactform label {
  margin-top: 20px;
  font-size: 1.5em;
}

/* line 191, ../sass/style.scss */
#contactform input {
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

/* line 198, ../sass/style.scss */
#contactform textarea {
  font-size: 1.5em;
  border-radius: 10px;
  width: 90%;
}

/* line 204, ../sass/style.scss */
#submit {
  font-size: 1.5em;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-family: swatch;
}

/* line 212, ../sass/style.scss */
#submit:hover {
  box-shadow: 0 0 10px #013768;
}

/* line 216, ../sass/style.scss */
#submit:active {
  box-shadow: inset 0 0 10px #013768;
}

/*---------------------------------------------------------------------------- Pricing ---------------------------------------------------------------*/
/* line 221, ../sass/style.scss */
#pricing-left {
  margin-bottom: 20px;
}

/* line 224, ../sass/style.scss */
#pricing-content p {
  font-size: 1.5em;
  padding-top: 0;
  padding-bottom: 10px;
  cursor: default;
}

/* line 231, ../sass/style.scss */
#pricing-content.contact-container h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  cursor: default;
}

/* line 237, ../sass/style.scss */
div#mms-pricing {
  margin-top: 0;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
}

/* line 243, ../sass/style.scss */
#pricing-content a {
  font-size: 1.8em;
  color: #191919;
  text-decoration: none;
}

/* line 249, ../sass/style.scss */
#pricing-content span {
  font-size: 1.5em;
}

/* line 253, ../sass/style.scss */
#pricing-content a:hover {
  color: #053F75;
}

/* line 257, ../sass/style.scss */
#pricing-content td {
  font-size: 1.5em;
}

/* line 261, ../sass/style.scss */
th {
  text-align: center;
  font-size: 1.5em;
}

/* line 266, ../sass/style.scss */
caption {
  font-size: 2em;
  font-weight: bold;
}

/* line 271, ../sass/style.scss */
#pricing-content {
  margin-bottom: 10px;
}

/* line 276, ../sass/style.scss */
.pricing-disclaimer {
  color: #ccc;
  text-align: center;
}

/*--------------------------------------------------------------------------- Portfolio -------------------------------------------------------------*/
/* line 284, ../sass/style.scss */
#heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

/* line 292, ../sass/style.scss */
#portfolio-nav-ul {
  font-size: 1.3em;
  margin-bottom: 20px;
}

/* line 299, ../sass/style.scss */
.portfolio-nav-li {
  list-style: none;
  padding: 0 0;
  margin-bottom: 20px;
}

/* line 305, ../sass/style.scss */
.portfolio-nav-a {
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
  font-family: "swatch";
  font-size: 1.3em;
  text-shadow: 2px 2px 2px #000;
}

/* line 314, ../sass/style.scss */
.portfolio-nav-li.current a, .portfolio-nav-a:hover {
  color: #ccc !important;
  border: 1px solid #fff;
  padding: 10px;
  background: #024788 url(../img/honeycomb.png);
  border-radius: 5px;
}

/* line 324, ../sass/style.scss */
#gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 330, ../sass/style.scss */
.gallery-li {
  display: block;
  float: left;
  width: 23%;
  /*-- size of thumbs --*/
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 12px 7px 0;
  position: relative;
}

/* line 340, ../sass/style.scss */
#gallery img {
  width: 100%;
  border-radius: 5px;
}

/*overlay style */
/* line 348, ../sass/style.scss */
.overlay {
  display: none;
  background: #024788 url(../img/honeycomb.png) no-repeat top left;
  background-size: cover;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  pointer-events: none;
  text-align: center;
}

/* line 367, ../sass/style.scss */
.overlay h3 {
  margin: 0;
  padding: 0;
}

/* line 372, ../sass/style.scss */
.fancybox-nav {
  width: 60px;
}

/* line 376, ../sass/style.scss */
.fancybox-nav span {
  visibility: visible;
}

/* line 380, ../sass/style.scss */
.fancybox-next {
  right: 50px;
}

/* line 384, ../sass/style.scss */
.fancybox-prev {
  left: 50px;
}

/*----------------------------------------------------------------------------- About ---------------------------------------------------------------*/
/* line 391, ../sass/style.scss */
#photo-container {
  width: 100%;
  text-align: center;
}

/* line 396, ../sass/style.scss */
#photo {
  border-radius: 10px;
  margin: 20px auto 30px auto;
  width: 80%;
}

/* line 403, ../sass/style.scss */
#about {
  width: 90%;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 25px 10px 25px;
}

/* line 412, ../sass/style.scss */
#signature {
  font-family: "Brush Script Std";
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*---------------------------------------------------------------- FOOTER ----------------------------------------------------------------*/
/* line 423, ../sass/style.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* line 438, ../sass/style.scss */
.copyright {
  color: #FFEBCD;
}

/* line 442, ../sass/style.scss */
.footer .container {
  min-height: 50px;
  border: 1px solid #222222;
  background-color: #222222;
  padding: 0 20px;
  border-radius: 4px;
  padding-top: 13px;
  background-image: url(../img/honeycomb.png);
}

/* line 452, ../sass/style.scss */
#designer {
  text-align: center;
}

/* line 457, ../sass/style.scss */
#back-to-top {
  text-align: right;
}

/* line 462, ../sass/style.scss */
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*.flex-item:nth-child(19) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 200px;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*-----------------------------------------------------------Media Querys-------------------------------------------------------------------*/
@media (max-width: 1225px) {
  /* line 514, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: 1em;
  }
}
@media (max-width: 1060px) {
  /* line 520, ../sass/style.scss */
  #portfolio-nav-ul {
    text-align: center;
  }

  /* line 523, ../sass/style.scss */
  .portfolio-nav-li {
    display: inline-block;
    padding: 0;
    margin: 5px;
  }

  /* line 529, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: 1em;
    padding: 5px;
    margin: 0;
  }

  /* line 535, ../sass/style.scss */
  div.portfolio-thumbs {
    width: 100%;
  }

  /* line 539, ../sass/style.scss */
  .flex-container {
    width: 100%;
    justify-content: center;
  }

  /* line 543, ../sass/style.scss */
  #gallery {
    margin: 0 auto;
  }

  /* line 546, ../sass/style.scss */
  .portfolio-nav {
    width: 100%;
    margin: 0 auto;
  }

  /* line 551, ../sass/style.scss */
  #portfolio-nav-ul {
    text-align: center;
    padding: 0;
  }

  /* line 560, ../sass/style.scss */
  .portfolio-nav-a:hover {
    color: #ccc !important;
    border: 1px solid #fff;
    padding: 5px;
    background: #024788 url(../img/honeycomb.png);
    border-radius: 5px;
    box-sizing: border-box;
  }
}
@media (max-width: 1000px) {
  /* line 574, ../sass/style.scss */
  #copyright {
    text-align: center;
  }

  /* line 577, ../sass/style.scss */
  #designer {
    text-align: center;
  }

  /* line 580, ../sass/style.scss */
  #back-to-top {
    text-align: center;
  }
}
@media (max-width: 800px) {
  /*-------------------- Portfolio ------------------------------*/
  /* line 592, ../sass/style.scss */
  .gallery-li {
    width: 25%;
    /*-- size of thumbs --*/
  }

  /* line 595, ../sass/style.scss */
  .portfolio-nav-a {
    font-size: .8em;
    padding: 0;
    margin: 0;
  }

  /* line 601, ../sass/style.scss */
  .overlay h3 {
    font-size: .8em;
  }

  /* line 605, ../sass/style.scss */
  .overlay p {
    display: none;
  }

  /* line 609, ../sass/style.scss */
  #heading {
    display: none;
  }

  /* line 614, ../sass/style.scss */
  #pricing-content td {
    font-size: 1em;
  }

  /*--------------------------------------------------------------*/
  /*----------------- Home -----------------------------------*/
  /* line 621, ../sass/style.scss */
  .carousel .item {
    height: auto;
  }

  /* line 625, ../sass/style.scss */
  #photo1 {
    content: url(../img/Camera-mobile.jpg);
  }

  /* line 629, ../sass/style.scss */
  #photo2 {
    content: url(../img/Lightbulb-mobile.jpg);
  }

  /* line 633, ../sass/style.scss */
  #photo3 {
    content: url(../img/Network-mobile.jpg);
  }
}
@media (max-width: 450px) {
  /* line 640, ../sass/style.scss */
  #pricing-content td {
    font-size: .8em;
  }

  /* line 644, ../sass/style.scss */
  #pricing-content th {
    font-size: 1em;
  }
}
