
/*--------------------------------------------------------- Fonts & Variables ----------------------------------------------------------*/
@font-face {
    font-family: "swatch";
    src: url(../fonts/SWATRG.TTF);
}

@font-face {
    font-family: "cambria";
    src: url(../fonts/cambria.ttc);
}


$font-headers: swatch, sans-serif;
$font-body: cambria, sans-serif;



/*---------------------------------------------------------------- Global ----------------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background: #777777;*/
  font-family: $font-body;
  background-image: url(../img/background-blue.jpg);
}

a {
	font-family: swatch;
      color: #ccc;

    }

.clearfix {
  clear: both;
}


/*---------------------------------------------------------------- Navigation ----------------------------------------------------------------*/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  
}
.navbar-wrapper .navbar .container {
  width: auto;

}
.navbar-static-top {
  width: 100%;
  background-image: url(../img/honeycomb.png);
  background-size: cover;
  

}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
 

  
}

.navbar-header a {
	padding: 0;
	margin: 0;	
}

#brand {
	margin-top: 2px;
	margin-left: 10px;

}

.nav li {
  margin-right: 1px;
  border: 1px solid #000;
  border-radius: 5px;

}

.nav li:not(.nohover):hover {
  background-color: #024788;
  color: #ccc !important;  
  border: 1px solid #fff;
  border-radius: 5px;
  opacity: .8;
  font-weight: bold;
  
  

}

.navbar-nav li a {
  color: #ccc;
  text-transform: capitalize !important;
  font-family: $font-headers;
  font-size: 1.5em;
}

.li-logo {
  width: 30px;
  height: auto; 
  background-color: inherit; 
}

.dropdown-menu .dropdown-a, .dropdown-menu .divider-title {
  color: #262626;
  font-size: 1.2em;
  text-align: center;
  border: none;
  
}

.dropdown {
  border-radius: 10px;
 
}

li.dropdown.open:hover {
  border: none;
  opacity: 1;
  border-radius: 15px;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu .dropdown-li {
  border: none;
  box-sizing: border-box;
}

.dropdown-menu .dropdown-a {
  color: #fff;
}

.dropdown-menu li.divider {
  color: #fff !important;
}

.dropdown-menu .dropdown-a:hover {
  border-radius: 10px;
}

 .dropdown-menu li.divider-title {
  color: #fff;
 }




/*===========================================MMS BANNER ================================*/

#manna {  
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 0;
}


#manna-container {  
  width: 100%;
}

#manna-container img {
  width: 100%;
}

.carousel-caption a {
  font-family: swatch;
}


/*+++++++++++++++++++++++++++++++++++++++++++++ CONTENT ++++++++++++++++++++++++++++++++++++*/

/*--------------------------------------------------------------------------- Contact ---------------------------------------------------------------*/

.content-container {
  background-color: #fff;
  box-shadow: inset 0 0 20px #000;
  border-radius: 10px;
  color: #191919;
  text-align: center;
 

}

#contact-content {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;

}

#mms-contact {
  margin-top: 0;
  padding: 0 20px 20px 20px;
  
}

#contactform {
  padding: 20px;
}

#contactform label {
  margin-top: 20px;
  font-size: 1.5em;
}

#contactform input {
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

#contactform textarea {
  font-size: 1.5em;
  border-radius: 10px;
  width: 90%;
}

#submit {
  font-size: 1.5em;
  border-radius: 10px;
  margin-top: 20px;  
  font-weight: bold;
  font-family: swatch;
}

#submit:hover {
  box-shadow: 0 0 10px #013768;
}

#submit:active {
  box-shadow: inset 0 0 10px #013768;
}

/*---------------------------------------------------------------------------- Pricing ---------------------------------------------------------------*/
#pricing-left {
  margin-bottom: 20px;
}
#pricing-content p {
  font-size: 1.5em;
  padding-top: 0;
  padding-bottom: 10px;  
  cursor: default;
}

#service-content {
  margin-top: 20px;
  padding: 5px;
}

#pricing-content h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  cursor: default;
  font-size: 2em;
  font-weight: bold;
}

div#mms-pricing {
  margin-top: 0;
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
}

#pricing-content a {
  font-size: 1.8em;
  color: #191919;
  text-decoration: none;
}

#pricing-content span {
  font-size: 1.5em;
}

#pricing-content a:hover {
  color: #053F75;
}

td {
  font-size: 1.5em;
}

th {
  text-align: center;
  font-size: 1.5em;
}

caption {
  font-size: 2em;
  font-weight: bold;
}

#pricing-content {
  margin-bottom: 10px;

}

.pricing-disclaimer {
  color: #ccc;
  text-align: center;
}

/*--------------------------------------------------------------------------- Portfolio -------------------------------------------------------------*/


#heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#portfolio-nav-ul {  
  font-size: 1.3em;
  margin-bottom: 20px;

  
}

.portfolio-nav-li {
  list-style: none;  
  padding: 0 0;
  margin-bottom: 20px;
} 

.portfolio-nav-a {
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
  font-family: "swatch";
  font-size: 1.3em;
  text-shadow: 2px 2px 2px #000;
}

.portfolio-nav-li.current a, .portfolio-nav-a:hover {

  color: #ccc !important;
  border: 1px solid #fff;
  padding: 10px;
  background: #024788 url(../img/honeycomb.png);
  border-radius: 5px;
  
}

#gallery {  
  list-style: none;
  margin: 0;
  padding: 0;  
}

.gallery-li {
  display: block;
  float: left;
  width: 23%; /*-- size of thumbs --*/
  cursor: pointer;  
  box-sizing: border-box;
  margin: 0 12px 7px 0;
  position: relative;
}

#gallery img {
  width: 100%;
  border-radius: 5px;
}


/*overlay style */

.overlay {
  display: none;
  background: #024788 url(../img/honeycomb.png) no-repeat top left;
  background-size: cover;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  pointer-events:none;
  text-align: center;

}

.overlay h3 {
  margin: 0;
  padding: 0;
}

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
  right: 50px;
}

.fancybox-prev {
    left: 50px;
}



/*----------------------------------------------------------------------------- About ---------------------------------------------------------------*/
#photo-container {
  width: 100%;
  text-align: center;
}

#photo {
  border-radius: 10px;
  margin: 20px auto 30px auto;
  width: 80%;

}

#about {
  width: 90%;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 25px 10px 25px;
  
}

#signature {
  font-family: "Brush Script Std";
}




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          

/*---------------------------------------------------------------- FOOTER ----------------------------------------------------------------*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
 
  
}

.footer p {
	
	
}

.copyright {
  color: #FFEBCD;
}

.footer .container {
	min-height: 50px;
	border: 1px solid #222222;
	background-color: #222222;
	padding: 0 20px;
	border-radius: 4px;
	padding-top: 13px;
      background-image: url(../img/honeycomb.png);
}

#designer {
  text-align: center;
 
}

#back-to-top {
  text-align: right;
}


.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*.flex-item:nth-child(19) {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 200px;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*-----------------------------------------------------------Media Querys-------------------------------------------------------------------*/

@media(max-width: 1225px) {
  .portfolio-nav-a {  
    font-size: 1em;  
  }  
}

@media(max-width: 1060px) {
  #portfolio-nav-ul {
    text-align: center;
  }
.portfolio-nav-li {
    display: inline-block;
    padding: 0;
    margin: 5px;   

  }
.portfolio-nav-a {
    font-size: 1em;
    padding: 5px;
    margin: 0;    
  }

   div.portfolio-thumbs {        
    width: 100%  
  }

  .flex-container {
  width: 100%;
  justify-content: center;
}
#gallery {
  margin: 0 auto;
}
.portfolio-nav {   
    width: 100%;
    margin: 0 auto;
  }

  #portfolio-nav-ul {
    text-align: center;
    padding: 0;
    

  }

  

  .portfolio-nav-a:hover {

  color: #ccc !important;
  border: 1px solid #fff;
  padding: 5px;
  background: #024788 url(../img/honeycomb.png);
  border-radius: 5px;
  box-sizing: border-box;
}

}


@media(max-width:1000px) {
  #copyright {
    text-align: center;
  }
  #designer {
    text-align: center;
  }
  #back-to-top {
    text-align: center;
  }
}






@media(max-width:800px) {
  /*-------------------- Portfolio ------------------------------*/
  .gallery-li {
    width: 25%; /*-- size of thumbs --*/
    }
  .portfolio-nav-a {
    font-size: .8em;
    padding: 0;
    margin: 0;    
  }

  .overlay h3 {
    font-size: .8em;
  }

  .overlay p {
    display: none;
  }

  #heading {
  display: none;

  }

  #service-content td {
  font-size: 1em;
}

  /*--------------------------------------------------------------*/

  /*----------------- Home -----------------------------------*/
  .carousel .item {
    
    height: auto;
  }
  #photo1 {
    content: url(../img/Camera-mobile.jpg);
  }

  #photo2 {
    content: url(../img/Lightbulb-mobile.jpg);
  }

  #photo3 {
    content: url(../img/Network-mobile.jpg);
  }

}

@media(max-width:450px) {
  #service-content td {
    font-size: .8em;
  }

  #service-content th {
    font-size: 1em;
  }


}